[submodule "common/flac"]
	path = common/flac
	url = https://github.com/philippe44/flac
[submodule "common/ogg"]
	path = common/ogg
	url = https://github.com/philippe44/ogg
[submodule "common/pthreads4w"]
	path = common/pthreads4w
	url = https://github.com/philippe44/pthreads4w
[submodule "common/shine"]
	path = common/shine
	url = https://github.com/philippe44/shine
[submodule "common/dmap-parser"]
	path = common/dmap-parser
	url = https://github.com/philippe44/dmap-parser
[submodule "aircast/nanopb"]
	path = aircast/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "aircast/libjansson"]
	path = aircast/libjansson
	url = https://github.com/philippe44/libjansson
[submodule "common/libpupnp"]
	path = common/libpupnp
	url = https://github.com/philippe44/libpupnp
[submodule "common/libopenssl"]
	path = common/libopenssl
	url = https://github.com/philippe44/libopenssl
[submodule "common/libmdns"]
	path = common/libmdns
	url = https://github.com/philippe44/libmdns
[submodule "libcodecs"]
	path = libcodecs
	url = https://github.com/philippe44/libcodecs
[submodule "common/libcodecs"]
	path = common/libcodecs
	url = https://github.com/philippe44/libcodecs
