[submodule "common/pthreads4w"]
	path = common/pthreads4w
	url = https://github.com/philippe44/pthreads4w
[submodule "common/shine"]
	path = common/shine
	url = https://github.com/philippe44/shine
	fetchRecurseSubmodules = no	
[submodule "common/dmap-parser"]
	path = common/dmap-parser
	url = https://github.com/philippe44/dmap-parser
[submodule "aircast/nanopb"]
	path = aircast/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "aircast/libjansson"]
	path = aircast/libjansson
	url = https://github.com/philippe44/libjansson
	fetchRecurseSubmodules = no	
[submodule "common/libpupnp"]
	path = common/libpupnp
	url = https://github.com/philippe44/libpupnp
	fetchRecurseSubmodules = no	
[submodule "common/libopenssl"]
	path = common/libopenssl
	url = https://github.com/philippe44/libopenssl
	fetchRecurseSubmodules = no	
[submodule "common/libmdns"]
	path = common/libmdns
	fetchRecurseSubmodules = no
	url = https://github.com/philippe44/libmdns
[submodule "common/libcodecs"]
	path = common/libcodecs
	url = https://github.com/philippe44/libcodecs
[submodule "common/crosstools"]
	path = common/crosstools
	url = https://github.com/philippe44/crosstools
[submodule "common/common/raoptools"]
	path = common/common/raoptools
	url = https://github.com/philippe44/raoptools
[submodule "common/raoptools"]
	path = common/raoptools
	url = https://github.com/philippe44/raoptools
